{% extends "news/base.html" %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<h1>Foydalanuvchi profili</h1>
<h4>Ma'lumotlaringiz</h4>
<h4>Username : {{user.username}}</h4>
<h4>Email : {{user.email}}</h4>
<h4>Ismingiz : {{user.first_name}}</h4>
<h4>Familyangiz : {{user.last_name}}</h4>


<hr>
<h5><a href="#">Parolni tiklash</a></h5>


<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Profildan chiqish</button>
</form>

{% endblock content %}