{% extends "news/base.html" %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<h1>Foydalanuvchi profili</h1>
<div class="row">
    <div class=" col col-md-6">
            <img src="{{profile.image.url}}" style="width: 200px; height: 200px;" alt="">
    </div>
    <div class=" col col-md-6">
        <h4>Ma'lumotlaringiz</h4>
        <h4>Username : {{user.username}}</h4>
        <h4>Email : {{user.email}}</h4>
        <h4>Ismingiz : {{user.first_name}}</h4>
        <h4>Familyangiz : {{user.last_name}}</h4>
        {% if profile.date_of_birth %}
            <h4>Tugulgan Sana : {{profile.user.date_of_birth}}</h4>
        {% endif %}
    </div>
</div>



<hr>
<h5><a class="btn btn-primary" href="{% url 'password_change' %}">Parolni o'zgartirish</a></h5>
<h5><a class="btn btn-primary" href="{% url 'profile_edit' %}">Profileni o'zgartirish</a></h5>


<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Profildan chiqish</button>
</form>

{% endblock content %}