{% extends "news/base.html" %}

{% block title %}Admin Sahifa{% endblock title %}

{% block content %}

<div>
    <a href="{% url 'create_news' %}" class="btn btn-primary">Yangilik Qo'shish</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Ismi</th>
            <th>Familya</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admin_users %}
        <tr>
            <td>{{admin.username}}</td>
            <td>{{admin.first_name}}</td>
            <td>{{admin.last_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}